body{
    font-family: Arial, sans-serif;
    background:#f5f5f5;
    text-align:center;
    padding-top:50px;
}

.container{
    background:white;
    width:400px;
    margin:auto;
    padding:20px;
    border-radius:10px;
}

button{
    margin-top:15px;
    padding:10px 20px;
    cursor:pointer;
}

#result{
    margin-top:20px;
    font-size:18px;
}